body {
    min-height: 100vh;
    display: grid;
    align-items: start;
    justify-items: center;
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /* Shopping Form */
  .shopping {
    display: grid;
    grid-template-columns: 1fr auto;
    
  }
  
  .shopping-list {
    background: white;
    padding: 3rem;
    border-radius: 1rem;
    width: 500px;
    margin: 4rem 0;
    font-size: 1rem;
  }
  
  .shopping-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .shopping-item {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    font-size: 1rem;
  }
  
  .shopping-item input[type="checkbox"] {
    margin-right: 1rem;
 
  }
  
  .shopping-item input[type="checkbox"]:checked + .itemName {
    opacity: 0.5;
  }
  
  .shopping-item button {
    font-style: inherit;  
    padding: 6px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .shopping-item button:hover {
    transform: scale(1.4);
  }
  
  button {
    font-style: inherit;  
    cursor: pointer;
    padding: 12px 20px;
    margin: 4px 2px;
    border: none;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: .5rem;
  }

  button:hover {
    opacity: 0.6;
}

input {
    font-size: 1rem;
    font-style: italic;
}