//Button & input filed

.shopping-item button {
    font-style: inherit;  
    padding: 6px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: $color-background;

    &shopping-item button:hover {
        transform: scale(1.4);
  }
}
  button {
    font-style: inherit;  
    cursor: pointer;
    padding: 12px 20px;
    margin: 4px 16px;
    border: round($number: 4px);
    font-size: 0.9em;
    font-weight: bold;
    border-radius: .5rem;
    @include respond(phone){
        padding: 5px 8px;
        margin: 4px 40px; 
    }

    &button:hover {
        opacity: 0.6;
  }
}
input {
    font-size: 1rem;
    font-style: italic;
    @include respond(phone){
        font-size: .8rem;
        margin-block-start: 1.4em;
        margin-block-end: 1.5em;
    }
}