/* Shopping Form */

.shopping {
    display: grid;
    grid-template-columns: 1fr auto;
    
  
    @include respond(phone){
        grid-template-columns: auto;
    }
    &-list {
        background: $color-list;
        padding: 8%;
        border-radius: 1rem;
        width: 450px;
        margin: 30px auto;

        font-size: 1rem;

    &-list ul {
        list-style: none;
        margin: 0;
        padding: 0;
        }
    }
}
    
    .shopping-item {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
        border-bottom: 1px solid var(--gray);
        font-size: 1.1rem;
        @include respond(phone){
            grid-template-columns: .1fr .4fr .2;
            grid-gap: .5em;
            padding: .2em 0;
            font-size: 1em;
        }
    }

        .shopping-item input[type="checkbox"] {
            margin-right: 1rem;
            @include respond(phone){
                margin-right: .9rem;
                justify-content: center;;
            }
        }

        .shopping-item input[type="checkbox"]:checked + .itemName {
            opacity: 0.5;
        }
       
     
   
  
